html {
  font-size: 10px;
  background-color: whitesmoke;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.ui {
  display: block;
  align-content: center;
  justify-content: center;
  border: solid rgb(174, 255, 229) 2px;
  box-shadow: 0.25rem 0.25rem rgb(156, 226, 204);;
  border-radius: 0.75rem;
  background-color: white;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-header{
  text-align: center;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.score-tile {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: rgb(189, 189, 189);
  border-radius: 1rem;
  min-height: 5rem;
  font-size: 1.5rem;
}

h2 {
  padding: 1rem;
  text-align: center;
}

h3 {
  padding: 2rem;
  text-align: center;
}
button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: rgb(174, 255, 229);
  padding: 1rem 1.5rem;
  margin: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 1rem;
}